body {
        
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #8BC53F;
  color: white;
}
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
padding: 20px 50px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.brand {
display: flex;
align-items: center;
gap: 12px;
}

.navbar img.logo {
height: 70px;
}

.clinic-name {
font-size: 30px;
font-weight: bold;
color: #000000;
}

.nav-links {
display: flex;
gap: 30px;
align-items: center;
color: #8BC53F;

}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;

}
.nav-links a:hover {
text-decoration: none;
color: #8BC53f;
font-size: 15px;
font-weight: 500;

}
.hero {
display: flex;
align-items: flex-end;
justify-content: space-between;
padding: 60px 80px;
gap: 60px;

}
.hero-text {
  flex: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  align-items: flex-start; /* Optional: aligns button to the left */

}
.hero-text h1 {
font-size: 64px;
font-weight: bold;
margin-bottom: 20px;
}

.hero-text p {
font-size: 20px;
line-height: 1.6;
margin-bottom: 30px;
}

.hero-text .cta-btn {
  background: rgb(39, 129, 30);
  color: #ffffff;
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.hero-text .book-btn {
  background-color: #0b842d;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  width: fit-content;
}

.hero-text .book-btn:hover {
  background-color: #066d22;
  transform: scale(1.05);
}

.hero-text .cta-btn:active {
  transform: scale(0.98);
}

.hero-text .cta-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(39, 129, 30, 0.5);
}


.hero-graphics {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}

.hero-image,
.floating-chart,
.floating-card {
width: 100%;
max-width: 350px;
border-radius: 10px;
box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.floating-chart,
.floating-card {
background: white;
}

.floating-chart img,
.floating-card img {
width: 100%;
display: block;
border-radius: 10px;
}
.slider {
position: relative;
width: 100%;
max-width: 350px;
height: auto;
overflow: hidden;
border-radius: 10px;
box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.slide {
display: none;
width: 100%;
height: auto;
}

.slide img {
width: 100%;
border-radius: 10px;
}

.slide.active {
display: block;
animation: fade 1s ease-in-out;
}

@keyframes fade {
from { opacity: 0.4; }
to { opacity: 1; }
}